<h1> Reset Your Password </h1>

<%= form_for("/resetpassword", method: "post") do |f|%>
  <%= f.label("new password") %>
  <%= f.password_field :password %>
  <%= f.label("new password") %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit("Submit") %>
<% end %>